@model Book

@{
    ViewData["Title"] = "BookDetails";
}

<h1>BookDetails</h1>

<div>
    <hr/>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan)
        </dd>
    </dl>
</div>
